<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis viajes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="home">
  <div *ngIf="tripStatus == 'view'">
    <ion-card #myCard *ngFor="let item of data.data">
      <ion-card-content>
        <ion-card-title>
          {{item.attributes.trip.city_origin_id.name}}
        </ion-card-title>
        <ion-card-title>
          {{item.attributes.trip.city_destination_id.name}}
        </ion-card-title>
        <ion-title><button ion-button type="button" round outline (click)="viewDetails(item.attributes.trip.id)">Detalles</button></ion-title>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="tripStatus == 'details'">
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          {{ details?.attributes["city-destination-id"].name}}
        </ion-card-title>
        <ion-card-title>
          {{ details?.attributes["city-origin-id"].name}}
        </ion-card-title>
        <ion-card-title>
          {{ details?.attributes["arrival-time"]}}
        </ion-card-title>
        <ion-card-title>
          {{ details?.attributes["departure-time"]}}
        </ion-card-title>
        <ion-card-title>
          {{ details?.attributes["car"].brand}}
        </ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-title><button ion-button type="button" round outline (click)="cancelTrip(details.id)">Cancelar</button></ion-title>
  </div>
</ion-content>
