<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis coches</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="createCarStatus=='view'">
  <ion-card #myCard *ngFor="let item of response.data">
    <ion-card-content>
      <ion-card-title>
        {{item.attributes.brand}}
      </ion-card-title>
      <ion-card-title>
        {{item.attributes.model}}
      </ion-card-title>
      <ion-card-title>
        {{item.attributes.registratio}}
      </ion-card-title>
      <ion-card-title>
        {{item.attributes.seats}}
      </ion-card-title>
      <ion-card-title>
        {{item.attributes.year}}
      </ion-card-title>
      <ion-title><button ion-button type="button" round outline (click)="deleteCar(item.id)">Borrar</button></ion-title>

    </ion-card-content>
  </ion-card>
  <ion-title><button ion-button type="button" round outline (click)="createCar()">Crear</button></ion-title>
  <div class="">{{ deleteCarMessage }}</div>
  </div>

  <div *ngIf="createCarStatus=='create'">
    <form [formGroup]="carForm" novalidate (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-label floating>Marca</ion-label>
          <ion-input type="text" formControlName="brand"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Modelo</ion-label>
          <ion-input type="text" formControlName="model"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Plazas</ion-label>
          <ion-input type="number" formControlName="seats"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Año</ion-label>
          <ion-datetime displayFormat="YYYY" formControlName="year"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label floating>Fecha Matriculacion</ion-label>
          <ion-datetime displayFormat="YYYY MMM DD" formControlName="registratio"></ion-datetime>
        </ion-item>
      </ion-list>
      <ion-title><button ion-button type="submit" round outline>Crear!</button></ion-title>
    </form>
  </div>
</ion-content>
